.GetStarted {
    padding-left: 7%;
    padding-right: 7%;
    color: #fff;
    padding-bottom: 7rem;
    display: flex;
    justify-content: space-between;
}

.getStartedCard {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.081);
    padding-left: 2.4rem;
    padding-right: 10rem;
    font-size: smaller;
    gap: 2rem;
    border-radius: 14px;
    height: 100px;
}

.getStartedLogoContainer ion-icon {
    font-size: 4rem;
}

.getStartedRightContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}